<div class="Mainbody">
    <div class="title">ROADMAP</div>
    <div class="details">
        <p>Q4 2024 
            - Game launch 
            - Earn tasks
            - Friend System 
            - Lvl And league Rating  
            - Spin to get free Top meme coins
            - Start Partnerships 
            
            Q1 2025 
            - Start giveaway Top MemeCoin
            - Join to Receive Mystery Box
            - Convert points to get daily Mines Scotti$ MemeCoin 
            - Wallet in-game implementation
            -  Start Scotti$ MemeCoin pre-sale
            
            Q2 2025 
            - TGE and AirDrop distribution
            - Listing Scotti$ MemeCoin in the world's top exchanges
            - Staked Platform For Holders And Earn More Rewards 
            - Nft Collection Mint 
            - Time Limited Events For Claim Nft 
            - And Much More</p>
    </div>
</div>